.gradient-custom {
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.error {
    color: rgb(230, 84, 84);
    font-size: large;
    margin: auto;
    margin-top: 15px;
    padding: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    visibility: hidden;
}

#logout {
    background-color: rgba(106, 17, 203, 1);
    color: white;
}

#name {
    color: white;
}